# Python
__pycache__/
*.py[cod]

# Entornos
.env
venv/
.venv/

# Build / distribución
build/
dist/
*.exe
*.spec

# Bases de datos / datos reales
*.json
data/
db/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
